@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/Script/JavaScript.js"></script>
    @*<script src="~/Content/Script/JavaScript1.js"></script>
        <script src="~/Content/Script/JavaScript2.js"></script>
        <script src="~/Content/Script/JavaScript3.js"></script>
        <script src="~/Content/Script/JavaScript4.js"></script>
        <script src="~/Content/Script/JavaScript5.js"></script>*@

    @Scripts.Render("~/Bundle/js")
    @Styles.Render("~/Bundle/css")

</head>
<body>
    <div>
        <h1>This is Index Page from Home Controller</h1>
    </div>
</body>
</html>
